---
import Button from "./Button.astro";
---

<header class="grid-lg">
    <div class="grid-sm">
        <h1 class="h1">Your kind of Designer</h1>
        <p class="text-muted narrow">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
            quas odit quod in itaque consectetur iusto velit excepturi
            repellendus sapiente sequi fugiat explicabo tempora aliquid magnam
            doloremque nobis assumenda cumque, libero rerum nihil. Explicabo,
            odit?
        </p>
    </div>
    <div class="grid-sm">
        <Button text="Contact Me" link="#" style="secondary" />
        <small class="text-muted">No commitment contact</small>
    </div>
</header>
